
<h1> THIS IS MY CUSTOM INDEX </h1>
<h1> Node_OS: {{ansible_os_family}}</h1>
<h1> Node_IP: {{ansible_all_ipv4_addresses}} </h1>

# To know the above variable values execute the below command
# $ ansible <private ip of node> -i <inventory> -m setup
